@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body.main-page {
	max-width: 700px;
	margin: 0 auto;
	background-color: whitesmoke;
	font-family: TASA Orbiter, sans-serif;
	line-height: 1.6;
}

header {
	width: 100%;
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}
.links-container {
	margin: 1rem;
	display: flex;
}
.links-container > a {
	color: black;
	text-decoration: none;
	display: block;
	margin: 0 0.5rem;
}
.links-container:last-child {
	margin-right: 0;
}
.box-logo {
	width: 50%;
	margin: 1rem 0;
	margin-right: auto;
}
main {
	margin-top: 1rem;
}

.intro-container {
	text-align: center;
}

.intro-container > h1 {
	margin: 1rem 0;
}
.intro-container p {
	margin-bottom: 1rem;
}

.work-container {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	/* border-top: 1px solid black; */
	margin-top: 2rem;
	padding: 1rem;
}
.work-card {
	background-color: rgb(240, 240, 240);
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	/* align-items: stretch; 👈 ensures children have equal height */
	margin: 2rem 0;
	padding-left: 1rem;
	transition: background-color 0.25s ease;
}
.work-card:hover {
	background-color: rgb(228, 226, 226);
}

img {
	width: 100%;
	max-width: 300px;
	margin: 1rem;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* horizontal-offset vertical-offset blur-radius color */
}
.project-description-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 40%;
	padding: 1rem;
}
.project-description-container a {
	color: black;
}
/* .footer {
	width: 100%;
	height: auto;
	background-color: #2a1458;
	height: 3rem;
	color: whitesmoke;
	display: flex;
	justify-content: space-around;
} */
footer p {
	margin-right: auto;
	font-weight: bold;
}

/******* project page ********/

body.project-page {
	max-width: 500px;
	margin: 0 auto;
	background-color: whitesmoke;
	font-family: TASA Orbiter, sans-serif;
	line-height: 1.6;
}
.project-page h2,
h3 {
	color: #f29137;
}
.hero-container {
	margin-bottom: 1rem;
}
.hero-container > img {
	max-width: 500px;
	margin: 0 auto;
}
.project-page p {
	margin-bottom: 1rem;
}
#main-frame {
	float: right;
	max-width: 250px;
	margin-top: 0;
}
footer {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
}
footer a {
	color: black;
	font-size: 1.5rem;
	margin: 0 1rem;
}
